{
    "env": {
        "es6": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "extends": ["airbnb", "prettier", "prettier/react"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "document": true,
        "window": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "no-unused-expressions": 0,
        "no-underscore-dangle": 0,
        "react/state-in-constructor": 0,
        "react/jsx-props-no-spreading": "off",
        "import/prefer-default-export": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": "off",
        "react/jsx-filename-extension": [
            1, {
                "extensions": [".js"]
            }
        ],
        "linebreak-style": 0,
        "global-require": 0,
        "eslint linebreak-style": [0, "error", "windows"]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}